<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Harp</title>
    <link href="../styles/app.css" rel="stylesheet">
  </head>
  <body>
    <script src="../scripts/app-preload.js"></script>
    <div id="alert-message" class="close">
      <div class="alertcontent">
        <div id="close-alert" class="close-button">&#x2715;</div>
        <h3 id="alert-title">Title</h3>
        <p id="alert-description">Something went wrong.<p>
      </div>
    </div>
    <div id="server-status">
      <div class="data-status">
        <div id="app-path"><small>To start the server</small><h1>Drag your folder or click to the icon</h1></div>
        <div class="visual">
          <div class="wavecontainer">
            <canvas id="waves"></canvas>
          </div>
          <div id="folder" class="folder">
            <img class="folderback" src="../images/open-folder-back.svg">
            <img class="folderfront" src="../images/open-folder-front.svg">
          </div>
        </div>
        <div class="info">
          <div id="infotitle" class="title">No folder is selected</div>
          <div id="server-url">Server is not running</div>
        </div>
        <div class="controls">
          <a id="launch" class="button">View in Browser</a>
          <div id="build-app" class="button">Compile App</div>
        </div>
      </div>
    </div>

    <div id="splashscreen">
      <div class="container">
        <div id="holder" class="square-holder">
        </div>
      </div>
    </div>

    <footer class="footerbar">
      <div class="left">
        <a href="http://harpjs.com/faq">FAQ</a> | <a href="https://github.com/alexgleason/harp-gui">GitHub</a>
      </div>
      <div class="right">
        <a href="http://harpjs.com/">About Harp</a>
      </div>
    </footer>
    <script src="../node_modules/sine-waves/sine-waves.js"></script>
    <script src="../scripts/app.js"></script>
  </body>
</html>
