<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Harp Server</title>
    <link href="../styles/style.css" rel="stylesheet">
  </head>
  <body>
    <script src="../scripts/app-preload.js"></script>
    <div id="alert-message" class="close" onclick="closeAlert()">
      <div class="alertcontent">
        <div id="close-alert" class="close-button">&#x2715;</div>
        <h3 id="alert-title">Title</h3>
        <p id="alert-description">Something went wrong.<p>
      </div>
    </div>
    <div id="server-status">
      <div class="data-status">
        <div id="app-path"></div>
        <div class="visual">
          <div class="bluline"></div>
          <div id="folder" class="folder">
            <img class="folderback" src="../images/open-folder-back.svg">
            <img class="folderfront" src="../images/open-folder-front.svg">
          </div>
        </div>
        <div class="info">
          <div class="title">Your server is listening at</div>
          <div id="server-url"></div>
        </div>
        <div class="controls">
          <a id="launch" class="button">View in Browser</a>
          <div id="build-app" class="button">Compile App</div>
        </div>
      </div>
    </div>

    <div id="splashscreen">
      <div class="container">
        <h1>Server is not running</h1>
        <div id="holder">
          <img src="../images/drag-folder.svg">
        </div>
        <div class="label">Drag a Harp app folder here to get started.</div>
      </div>
      <footer class="footerbar">
        <div class="left">
          <a href="http://harpjs.com/faq">FAQ</a> | <a href="https://github.com/alexgleason/harp-gui">GitHub</a>
        </div>
        <div class="right">
          <a href="http://harpjs.com/">About Harp</a>
        </div>
      </footer>
    </div>

    <script src="../scripts/app.js"></script>
  </body>
</html>
