* {
  box-sizing: border-box;
}
html {
  background: #546D7A;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  background: #6B919E;
}
body.server-on {
  background: #546D7A;
}

/* Alert pop up*/

#alert-message {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9999;
  background-color: RGBA(129, 88, 108, .6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  opacity: 1;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  cursor: hand;
  color: RGBA(129, 88, 108, 1);
}
.alertcontent {
  transition: all 0.3s ease-out;
  width: 80%;
  max-width: 400px;
  position: relative;
  padding: 40px;
  background-color: #ffffff;
  opacity: 1;
  transform: scale(1);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 22px 63px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 22px 63px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 22px 63px 0px rgba(0, 0, 0, 0.26);
}
.alertcontent h3 {
  color: #67919e;
  font-size: 1.8rem;
  margin: 0;
}
.alertcontent p {
  color: #666666;
}
#alert-message.close {
  opacity: 0;
  visibility: hidden;
}
#alert-message.close .alertcontent {
  opacity: 0;
  transform: scale(1.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 100px;
}

/* End Alert pop up*/

#splashscreen {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  padding: 40px;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s cubic-bezier(1.000, -0.530, 0.405, 1.425);
  z-index: 200;
}
#splashscreen .container {
  text-align: center;
  z-index: 400;
  margin-top: -105px;
}
#splashscreen img {
  width: 100px;
}
#server-status {
  height: 100%;
  width: 100%;
  position: absolute;
  flex: 1;
  display: flex;
  top: 0;
  left: 0;
  transition: all 1s ease-in-out;
  overflow: hidden;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 300;
  pointer-events: none;
}
#server-status.loading, #server-status.changefolder {
  background-color: RGBA(0, 0, 0, .2);
}
#server-status .data-status {
  width: 100%;
}
.square-holder {
  width: 190px;
  height: 190px;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #82a4ae 50%, transparent 50%), linear-gradient(90deg, #82a4ae 50%, transparent 50%), linear-gradient(0deg, #82a4ae 50%, transparent 50%), linear-gradient(0deg, #82a4ae 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
  background-position: 0px 0px, 186px 186px, 0px 186px, 186px 0px;
  animation: entopacity 2s;
  cursor: pointer;
}
.hover .square-holder, body.server-on .hover .square-holder {
  animation: border-dance 6s infinite linear;
  opacity: 1;
}
.square-holder img {
  animation: entrance 1s 1;
}
body.server-on .square-holder {
  opacity: 0;
}
body.server-on #server-status {}
body.server-on #splashscreen {
  padding: 20px;
  animation: elasticborder 1s 1;
}
#app-path {
  color: RGBA(255, 255, 255, .3);
  padding: 20px;
  height: 100px;
}
#app-path small {}
#app-path h1 {
  margin: 0;
  margin-top: 10px;
  color: #4F727F;
}
#app-path .highlighted {
  color: RGBA(255, 255, 255, .6);
}
.server-on .changefolder #app-path, .server-on .changefolder #app-path .highlighted {
  animation: colorblink .5s infinite ease-in;
}
#server-status .title {
  text-transform: uppercase;
  font-size: 10px;
}
.info {
  margin-top: 25px;
  padding: 20px;
  height: 100px;
  color: #D3DEE1;
}
#server-url a, #server-url {
  color: #D3DEE1;
  font-size: 24px;
  text-decoration: none;
  padding: 10px;
  pointer-events: auto;
}
#server-url a:hover {
  color: #D3DEE1;
}
.controls {
  color: #3E575F;
  margin: 0px 20px;
  height: 80px;
}
.button {
  position: relative;
  background: #67919e;
  border-radius: 4px;
  margin: 10px;
  padding: 15px;
  color: RGBA(0, 0, 0, .2);
  text-decoration: none;
  display: none;
  pointer-events: auto;
  cursor: pointer;
  box-shadow: 0px 5px 0px #3A5158;
  transition: all .2s ease-in-out;
}
.server-on .button {
  display: inline-block;
}
#launch {
  background: #83596C;
  box-shadow: 0px 5px 0px #654352;
}
.button:hover, #launch:hover {
  color: RGBA(0, 0, 0, .6);
  box-shadow: 0px 1px 0px RGBA(0, 0, 0, .2);
}
.visual {
  width: 100%;
  position: relative;
  height: 190px;
}
#waves {
  position: absolute;
  top: 7px;
  left: 50%;
}
.visual:before {
  position: absolute;
  content: "\00a0 ";
  background-color: #ffffff;
  height: 4px;
  width: 50%;
  left: 0;
  top: 50%;
}
.visual:after {
  position: absolute;
  content: "\00a0 ";
  background-color: #ffffff;
  height: 4px;
  width: 50%;
  left: 50%;
  top: 50%;
  margin-left: 600px;
}
.folder {
  position: relative;
  margin-top: 30px;
  display: inline-block;
  z-index: 101;
  transition: all .5s ease-in-out;
  backface-visibility: visible;
}
.server-on .changefolder .folder .folderfront {
  margin-left: -60px;
  transform: skewX(-0deg);
}
.folderback {
  width: 120px;
  position: relative;
}
.folderfront {
  width: 120px;
  position: absolute;
  z-index: 101;
  left: 50%;
  top: 0;
  transition: all 0.5s ease-in-out;
  margin-left: -60px;
  transform: skewX(-0deg);
}
.server-on .folder .folderfront {
  margin-left: -54px;
  transform: skewX(-10deg);
}

/* loading compile */

.loading .folderfront {
  margin-left: -60px;
  transform: skewX(-0deg);
}
.loading .folder {
  animation: loadingcompile .5s infinite linear;
}

/* FOOTER */

.footerbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  padding: 15px;
  color: #82a4ae;
}
.left {
  float: left;
}
.right {
  float: right;
}
.footerbar a {
  color: #D3DEE1;
  text-decoration: none;
  padding: 5px;
}
.footerbar a:hover {
  color: #FCFCFC;
}
@keyframes border-dance {
  0% {
    background-position: 0px 0px, 186px 186px, 0px 186px, 186px 0px;
  }
  100% {
    background-position: 186px 0px, 0px 186px, 0px 0px, 186px 186px;
  }
}
@keyframes border-dance-small {
  0% {
    background-position: 0px 0px, 76px 76px, 0px 76px, 76px 0px;
  }
  100% {
    background-position: 76px 0px, 0px 76px, 0px 0px, 76px 76px;
  }
}
@keyframes entrance {
  0% {
    height: 0px;
  }
  90% {
    height: 130px;
  }
  100% {
    height: 110px;
  }
}
@keyframes entopacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes colorblink {
  0% {
    color: RGBA(255, 255, 255, .3);
  }
  50% {
    color: RGBA(255, 255, 255, 1);
  }
  100% {
    color: RGBA(255, 255, 255, .3);
  }
}
@keyframes dataanimation {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes loadingcompile {
  0% {
    transform: rotate(0);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes elasticborder {
  0% {
    border-top-left-radius: 0% 0%;
    border-top-right-radius: 0% 0%;
  }
  50% {
    border-top-left-radius: 50% 30%;
    border-top-right-radius: 50% 30%;
  }
  100% {
    border-top-left-radius: 0% 0%;
    border-top-right-radius: 0% 0%;
  }
}
